<html>
  <head>
    <title>Random GDG Quotes</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>GDGQAAS</h1>
        <h2>GDG Quotes as a Service</h2>
        <p>Please see README for use.</p>
        <p><em>v0.2.5</em></p>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px;">
        <h2 id="introduction">Introduction</h2>
        <p>Instead of being a complete ripoff service like Blah Blah as a Service, this service allows you to type in the name of an employee at GDG to randomly display a quote that the person has said (or that I like to think he/she would say).</p>

        

        <h2 id="api">API</h2>

        <h3 id="name">/:name</h3>

        <p>Will return a quote from the person whose name you passed through.</p>

        <h2 id="employees">Here is a list of names that currently appear in our "arratabase"</h2>
        <ul>
            <li>Mcgraw
            <li>Mike
            <li>Rick
            <li>Ben
            <li>Keith
            <li>Brandon
            <li>Nic
        </ul>


  </body>
</html>